{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>All Articles</h2>
    {{if .Articles}}
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
            </tr>
            {{range .Articles}}
                <tr>
                    <td>#{{.ID}}</td>
                    <td><a href='/article/{{.ID}}'>{{.Title}}</a></td>
                    <td>{{.AuthorID}}</td>
                    <td>{{humanDate .Created}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}