{{template "base" .}}
{{define "title"}}Search an Articles{{end}}
{{define "main"}}
    <form action='/search' method='POST'>
        {{with .Form}}
            <div>
                <label>Search by Title</label>
                {{with .Errors.Get "title"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type='text' name='title' value='{{.Get "title"}}'>
            </div>
            <div>
                <input type='submit' value='Find'>
            </div>
        {{end}}
    </form>
    <h2>Found Articles</h2>
    {{if .Articles}}
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
            </tr>
            {{range .Articles}}
                <tr>
                    <td>#{{.ID}}</td>
                    <td><a href='/article/{{.ID}}'>{{.Title}}</a></td>
                    <td>{{.AuthorID}}</td>
                    <td>{{humanDate .Created}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
{{end}}
{{end}}