{{template "base" .}}
{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}
{{define "main"}}
    {{with .Snippet}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
    {{end}}
            {{if .IsAuthenticated}}
                <div class='metadata'>
                    <form action='/snippet/delete/{{.Snippet.ID}}' method='POST'>
                        <button>Delete</button>
                    </form>
                </div>
            {{end}}
    {{with .Snippet}}
            <pre><code>{{.Content}}</code></pre>
            <div class='metadata'>
                <time>{{.Created | humanDate | printf "Created: %s"}}</time>
                <time>{{.Expires | humanDate | printf "Expires: %s"}}</time>
            </div>
        </div>
    {{end}}
{{end}}