{{template "base" .}}
{{define "title"}}Article #{{.Article.ID}}{{end}}
{{define "main"}}
    {{with .Article}}
        <div class='article'>
            <div class='metadata'>
                <strong>Title: {{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
    {{end}}
        <div class='metadata'>
            <strong>Author: {{.Article.AuthorName}}</strong>
            <span>
                {{if .IsAuthenticated}}
                    <form action='/article/delete/{{.Article.ID}}' method='POST'>
                        <button>Delete</button>
                    </form>
            {{end}}
            </span>
        </div>
    {{with .Article}}
            <pre><code>{{.Content}}</code></pre>
            <div class='metadata'>
                <time>{{.Created | humanDate | printf "Created: %s"}}</time>
                <time>{{.Expires | humanDate | printf "Expires: %s"}}</time>
            </div>
        </div>
    {{end}}
{{end}}